/* Google font Arial */
@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap');

/* Google font Alata */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* Import section-specific stylesheets */
@import url('buttons.css');
@import url('sidebar.css');
@import url('header.css');
@import url('dashboard.css');
@import url('roster.css');
@import url('graph.css');

/* Base styles */
body {
  font-family: Arial, sans-serif;
  background-color: #fbfbfb;
}

/* Color Variables */
:root {
  --primary-color: #EBEEF4;
  --black-color: #000000;
  --white-color: #ffffff;
  --bg-nav-color: #00234F;
  --light-blue-color: #009EDD;
} 